

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Resources</h2>

<a href="@Url.Action("Create","Resources")"> Adauga manual resursa</a>


@*<div class="row">
    <div class="col-md-4">
        <input type="file" id="fileUpload" name="files" multiple />
        <span class="input-group-addon">
            <input class="btn btn-primary" value="submit" onclick="uploadFiles()">
        </span>
        </div>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-controller="Resources" asp-action="Post">
            <div class="form-group">
                <div class="col-md-10">
                    <p>Upload one or more files using this form:</p>
                    <input type="file" name="files" multiple />
                </div>
            </div>
            <div class="empty-div"></div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Upload"/>
                </div>
            </div>
        </form>
    </div>
</div>


    <link href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
    <div class="datatable">
        <table id="datatable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Delete</th>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <script type="text/javascript">

    function reload() {
        $('#datatable').DataTable({
            ajax: "@Url.Action("GetAll","Resources")",
            columns: [
                { data: "id" },
                { data: "code" },
                { data: "type" },
                {
                    data: "id", render: function (data, type, row, meta) {
                        data = '<input value="Stergere" type="Button" onclick="deleteItem(\'' + data + '\')" />';

                        return data;
                    }
                }
            ]
        });
    }

     function deleteItem(data) {
        $.ajax({
            url: '@Url.Action("DeleteItem","Resources")',
            data: { Id: data}
        }).success(function (response) {
            if (response == true) {
                $('#datatable').DataTable().ajax.reload();
            }
            else { alert("Nu s-a putut sterge itemul");}

        })

    }

    $(document).ready(function () {
        reload();
    });



    </script>

    <script>
            @*function uploadFiles() {
                var x = document.getElementById("fileUpload").multiple = true;
                var files = $("#fileUpload")[0].files;
                var _url = '@Url.Action("UploadFile", "ResourcesController")';
                for (var i = 0; i < files.length; i++) {
                    alert(files[i].type); //nu imi mai da notif cand decomentez ce e mai jos
                    $.ajax({
                        url: _url,//'/admin/Resources/Upload',
                        data: {
                            File: files[i] // ce tip de var trimit??

                        }
                    }).success(function (response) {
                        document.getElementById("UploadMessage").innerHTML = response.message;
                        if (response.success == true)
                            $('#files').val('');
                    })
                }*@
                //$(document).ready(function () {
                //    $("#uploadFiles").click(function () {
                //        $.ajax({
                //            url: files[0],
                //            dataType: "text",
                //            success: function (data) {
                //                $(".text").html(data);
                //            }
                //        });
                //    });
                //});
                //var files = $("#fileUpload")[0].files;
                //var client = new XMLHttpRequest();
                //client.open('GET', files[0].data);
                //client.onreadystatechange = function () {
                //    alert(client.responseText);
                //}
                //client.send();
            //}
            @*function uploadFiles() {
                var formData = new FormData();
                formData.append('file', $('#fileUpload')[0].files[0]); // myFile is the input type="file" control

                var _url = '@Url.Action("UploadFile", "ResourcesController")';
                var files = $("#fileUpload")[0].files;
                $.ajax({
                    url: _url,
                    type: 'POST',
                    data: files,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (result) {
                    },
                    error: function (jqXHR) {
                    },
                    complete: function (jqXHR, status) {
                    }
                });
            }*@

    </script>
