
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/css/DashBoardcss.css" rel="stylesheet" />
<link href="~/themify-icons/themify-icons.css" rel="stylesheet" />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","Users")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-user"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">

                                Admins
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> User Management
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","CMS")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-layout-list-thumb"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Content
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> CMS Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","CMSDetails")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-layout-list-thumb-alt"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Content Details
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> CMSDetails Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","HtmlTypes")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-file"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Types of content
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i>HtmlTypes Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","MenuItems")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-menu"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Menu Buttons
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Menu items Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","NewsletterUsers")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-star"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Members
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> People interested in this project
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","Scripts")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-files"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Scripts
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Scripts Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","Links")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-link"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Links
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Links Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","Resources")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-archive"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Resources
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Add or remove additional search resources
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","Searches")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-search"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                Search History
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Date/IP based search history
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","Links")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-link"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                *soon Links
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Links Management
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-sm-6">
        <a href="@Url.Action("Index","ContactForm")">
            <div class="card">
                <div class="content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="icon-big icon-info text-center">
                                <i class="ti-save"></i>
                            </div>
                        </div>
                        <div class="col-xs-7">
                            <div class="numbers">
                                *soon Modified Code
                            </div>
                        </div>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="ti-bolt-alt"></i> Altered code for further use
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>